In [8]:
%pylab inline
import psycopg2 
import os 
import pandas as pd
import numpy as np

pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

Populating the interactive namespace from numpy and matplotlib

In [2]:
goog = pd.read_csv('../googleDS_chicago.csv')

In [3]:
goog.shape

(119270, 4)

In [4]:
goog.head()

      city          y          x category
0  Chicago  42.142400 -87.532400    store
1  Chicago  42.085316 -87.697584     park
2  Chicago  42.083473 -87.695208   doctor
3  Chicago  42.079037 -87.685848     park
4  Chicago  42.080651 -87.689680     park

In [5]:
goog.dtypes

city         object
y           float64
x           float64
category     object
dtype: object

In [6]:
goog.columns

Index([u'city', u'y', u'x', u'category'], dtype='object')

In [9]:
#categorical summaries
for c in [u'city', u'y', u'x', u'category']:
    print c
    print pd.value_counts(goog[c])
    print

city
Chicago    119270
dtype: int64

y
41.878113    31
41.832370    26
41.957501    25
41.902200    25
41.989774    23
41.702667    23
41.964863    22
42.138242    21
41.719530    21
41.703132    20
41.909404    20
41.795051    20
41.613678    19
41.845801    19
41.705581    18
...
42.025376    1
41.578387    1
41.874470    1
41.755373    1
41.742323    1
41.894975    1
41.570416    1
41.573498    1
41.658885    1
41.625343    1
42.118688    1
41.628930    1
41.980073    1
41.620849    1
41.615584    1
Length: 79560, dtype: int64

x
-87.844821    35
-87.629798    32
-87.568184    26
-87.782633    22
-87.631739    22
-87.751730    21
-87.810200    21
-87.667976    20
-87.747960    20
-87.763974    19
-87.711578    19
-87.810670    18
-87.653180    18
-87.803562    18
-87.866335    18
...
-87.780641    1
-87.681725    1
-87.740346    1
-87.705619    1
-87.522088    1
-87.674186    1
-87.723114    1
-87.484119    1
-87.800945    1
-87.804616    1
-87.959870    1
-87.938712    1
-87.812560    1
-87.586369    1
-87.790200    1
Length: 78176, dtype: int64

category
doctor                     13267
store                      12944
restaurant                  8795
health                      4858
general_contractor          4789
beauty_salon_spa            4353
dentist                     4259
church                      4105
school                      3769
lawyer                      3658
insurance_agency            3497
car_repair                  3112
real_estate_agency          2936
finance                     2920
park                        2622
accounting                  2252
clothing_store              2251
atm                         2232
moving_company              2002
laundry                     1663
electronics_store           1590
pharmacy                    1496
physiotherapist             1278
grocery_or_supermarket      1181
bar                         1157
bank                        1007
convenience_store            996
furniture_store              946
home_goods_store             914
local_government_office      849
bakery                       808
electrician                  797
painter                      757
car_dealer                   755
plumber                      745
travel_agency                727
hair_care                    646
lodging                      627
liquor_store                 626
meal_delivery_takeaway       583
roofing_contractor           570
shoe_store                   549
florist                      545
jewelry_store                509
art_gallery                  500
hardware_store               497
veterinary_care              467
funeral_home                 411
cafe                         406
hospital                     392
department_store             367
night_club                   354
gym                          351
university                   321
library                      314
parking                      309
book_store                   308
car_rental                   287
storage                      286
car_wash                     284
gas_station                  283
shopping_mall                279
post_office                  235
cemetery                     196
police                       190
fire_station                 185
movie_theater                160
pet_store                    151
synagogue                    128
bicycle_store                120
movie_rental                 106
museum                       105
stadium                       75
amusement_park                70
airport                       60
embassy                       55
courthouse                    43
rv_park                       33
Length: 78, dtype: int64