In [3]:
%pylab inline
import psycopg2 
import os 
import pandas as pd
import numpy as np

pd.options.display.max_columns = 100

Populating the interactive namespace from numpy and matplotlib

In [5]:
cb = pd.read_csv('../CrunchBase_chicago.csv')

In [7]:
cb.shape

(1212, 15)

In [16]:
cb.head()

,companies.name,companies.category_code,companies.description,companies.founded_year,companies.number_of_employees,companies.total_money_raised,city,description,address1,address2,longitude,country_code,latitude,state_code,zip_code
0,20spokes,consulting,Chicago Development Agency,2012,2,$0,Chicago,Office,4507 N. Ravenswood Ave.,Ste 103,-87.673581,USA,41.963728,IL,60640
1,360i,advertising,digital marketing agency,1998,425,$0,Chicago,Chicago Office,515 North State St,23rd Floor,NaN,USA,NaN,IL,60654
2,37signals,software,Frustration-free web-based apps,1999,20,$0,Chicago,NaN,30 North Racine Avenue #200,NaN,-87.655723,USA,41.889218,IL,60607
3,3oclockclub,advertising,multi deal a day website,2009,14,$0,Chicago,Chicago Office,1336 West Grand Ave,NaN,NaN,USA,NaN,IL,60642
4,5Degrees,NaN,NaN,NaN,NaN,$0,Chicago,"5Degrees, Inc.","321 N. Clark Ste, Ste 2550",NaN,NaN,USA,NaN,IL,60654

In [8]:
cb.dtypes

companies.name                    object
companies.category_code           object
companies.description             object
companies.founded_year           float64
companies.number_of_employees    float64
companies.total_money_raised      object
city                              object
description                       object
address1                          object
address2                          object
longitude                        float64
country_code                      object
latitude                         float64
state_code                        object
zip_code                          object
dtype: object

In [9]:
cb.columns

Index([u'companies.name', u'companies.category_code', u'companies.description', u'companies.founded_year', u'companies.number_of_employees', u'companies.total_money_raised', u'city', u'description', u'address1', u'address2', u'longitude', u'country_code', u'latitude', u'state_code', u'zip_code'], dtype='object')

In [15]:
#categorical summaries
for c in [u'companies.name', u'companies.category_code', u'companies.description',\
          u'companies.founded_year', u'companies.number_of_employees',\
          u'companies.total_money_raised', u'city', u'description', u'address1',\
          u'address2', u'longitude', u'country_code', u'latitude', u'state_code', u'zip_code']:
    print c
    print pd.value_counts(cb[c])
    print

companies.name
Lotame                           3
ePageCity                        2
Rent Here Realty                 2
FieldAware                       2
Inforama                         2
Atlantic Metro Communications    2
First Options of Chicago         2
Trading Advantage                2
CMMS Data Group                  2
Lightology                       2
American Kidz Academy            2
Fuzzy Math                       2
ETF Database                     1
Academic Capital Exchange        1
Project Wingman                  1
...
quadrantONE                      1
Peckish Snacks                   1
iProspect                        1
OANDA                            1
HaveDeals                        1
Youth Centers of Israel, Inc.    1
SharkZoo                         1
ClassConnect                     1
Rise Interactive                 1
IGN Entertainment                1
Garage Door Chicago              1
CureSquare                       1
Braintree                        1
GoSoapBox                        1
VivaKi                           1
Length: 1199, dtype: int64

companies.category_code
software            184
web                 158
advertising         112
other                80
ecommerce            79
consulting           69
enterprise           52
mobile               50
games_video          34
education            31
public_relations     30
network_hosting      27
analytics            26
legal                23
health               18
finance              16
search               16
biotech              14
cleantech            14
news                  9
fashion               8
hardware              8
hospitality           8
sports                7
security              6
local                 6
travel                6
messaging             5
medical               5
social                4
photo_video           4
real_estate           3
nonprofit             2
transportation        2
manufacturing         2
music                 2
pets                  2
semiconductor         1
dtype: int64

companies.description
Data Management Platform                    3
Chicago Web Design Company                  2
document automation software                2
Field Service Management SaaS Software      2
Online Trading Education Company            2
User Experience Design                      2
Law Firm                                    2
Mobile Advertising                          2
preschool                                   2
Chicago Apartments                          2
A nationwide technology recruiting firm     2
Reliable Internet & Managed Hosting         2
Social Media Marketing                      2
Contemporary Lighting Website / Showroom    2
CMMS Software and Service                   2
...
Developers of Captivating Video            1
Changing people's lives                    1
Chicago Florist                            1
Innovations for Profitable Retailing       1
The Online Legal Marketplace               1
 information management                    1
Real-Time Developement Platform (PaaS)     1
Software development company               1
Digital Marketing Company                  1
Phone Charging Stations                    1
Made-to-order sandwich shop                1
Connecting consumers and merchants         1
Electricity supply rate comparison site    1
Caregiver search site                      1
\Everyone's Personal Assistant\""          1
Length: 900, dtype: int64

companies.founded_year
2011    121
2012    110
2010    102
2009     89
2008     72
2013     61
2007     60
2006     52
2001     39
2004     37
2003     32
1999     26
2005     26
2000     24
2002     21
1998     18
1996     13
1995     11
1997      7
1994      6
1988      4
1991      4
1989      3
1986      3
1987      2
1953      2
1968      2
1992      2
1864      2
1990      2
1926      2
1960      1
1957      1
1847      1
1945      1
1882      1
1923      1
1934      1
1974      1
1917      1
1976      1
1978      1
1979      1
1980      1
1981      1
1983      1
1984      1
1985      1
1993      1
1890      1
1892      1
1922      1
Length: 52, dtype: int64

companies.number_of_employees
5      65
10     62
3      58
2      51
4      44
6      32
15     28
20     23
1      22
7      20
8      19
100    18
30     18
9      17
12     17
...
640       1
524       1
1100      1
73        1
2375      1
2500      1
5000      1
1500      1
7300      1
305       1
163       1
710       1
43        1
42        1
160000    1
Length: 96, dtype: int64

companies.total_money_raised
$0       883
$500k      7
$2.5M      6
$250k      5
$2M        5
$3M        5
$50k       5
$25k       5
$75k       5
$12M       5
$150k      5
$6M        4
$100k      4
$11M       4
$34M       4
...
$73M      1
$13M      1
$12.4M    1
$2.28M    1
$1.29M    1
$35k      1
$5.96M    1
$3.5M     1
$6.6M     1
$1.82M    1
$1.95M    1
$8.5M     1
$5.7M     1
$11.3M    1
$178M     1
Length: 221, dtype: int64

city
Chicago    1207
chicago       5
dtype: int64

description
Headquarters              135
Chicago Office            100
HQ                         95
Chicago                    64
Office                     25
Main Office                23
Corporate Headquarters     20
Chicago Headquarters       17
World Headquarters         15
Chicago HQ                 13
1871                       10
Corporate Office           10
Chicago, IL                 6
Head Office                 4
US Headquarters             3
...
Igenbio.Inc               1
United States- Chicago    1
Kargo Chicago             1
ILLINOIS                  1
Harvest Exchange HQ       1
Plugola HQ                1
BAM Studios               1
EQE Partners              1
MBuy                      1
Data Center               1
Chicago School Reviews    1
Billups Design Chicago    1
Media Relations Office    1
Chicago Plumbing          1
Joint Loyalty             1
Length: 238, dtype: int64

address1
222 Merchandise Mart Plaza       13
222 W. Merchandise Mart Plaza     8
222 W Merchandise Mart Plaza      7
70 West Madison Street            6
200 South Wacker Drive            6
20 North Wacker Drive             6
233 South Wacker Drive            5
500 North Michigan Avenue         4
203 N. LaSalle Street             4
200 S. Wacker Drive               4
33 N. Dearborn                    4
200 S. Wacker Dr.                 4
25 E. Washington                  4
150 North Michigan Avenue         3
600 W. Chicago Ave                3
...
311 S. Wacker Drive                1
415 N. Lasalle Street              1
22 West Washington Street #1500    1
35 West Wacker                     1
105 W. Adams Street, 31st Floor    1
3809 w diversey ave                1
30 S Wacker Drive                  1
203 N Wabash Ave                   1
213 Racine Street                  1
20 West Kinzie, Suite 1510         1
648 West Randolph Street           1
203 N. Wabash Ave.                 1
500 N Michigan Avenue Suite 300    1
820 West Jackson                   1
401 East Ontario                   1
Length: 803, dtype: int64

address2
Suite 300     14
Suite 1212    14
Suite 400     13
Suite 500     11
Suite 2100    11
Suite 1200     9
15th Floor     9
12th Floor     8
Suite 700      8
Suite 600      6
Suite 402      5
Suite 900      5
Suite 2800     5
Suite 302      5
Suite 800      5
...
STE 2250                       1
7th Floor                      1
Suite 1880                     1
#5504                          1
Suite 275                      1
5050 South Lake Shore Drive    1
Suite 1770                     1
Suite C                        1
Suite 2040                     1
Suite 602                      1
SUite 600                      1
Suite 1465                     1
Suite 606                      1
178                            1
Suite 410                      1
Length: 371, dtype: int64

longitude
-87.629798    21
-87.624333    15
-87.629798    14
-87.635913     8
-87.636513     7
-87.632519     6
-87.635365     4
-87.626685     4
-87.653181     4
-87.637125     3
-87.637199     3
-87.633192     3
-87.624470     2
-87.637000     2
-87.636284     2
...
-87.625743    1
-87.636974    1
-87.635425    1
-87.624983    1
-87.538891    1
-88.234716    1
-87.681225    1
-87.624524    1
-87.627423    1
-87.703656    1
-87.653180    1
-87.629590    1
-87.637145    1
-87.688877    1
-87.642639    1
Length: 254, dtype: int64

country_code
USA    1212
dtype: int64

latitude
41.878114    35
41.879535    15
41.888378     7
41.889183     6
41.902837     4
41.888370     4
41.892915     4
41.882935     4
41.877493     3
41.888813     3
41.879211     3
41.877867     2
41.912019     2
41.881777     2
41.881928     2
...
41.889720    1
41.891886    1
41.877818    1
42.377467    1
41.907542    1
41.893229    1
41.893397    1
41.886088    1
41.917811    1
41.896128    1
41.890803    1
41.893616    1
41.878855    1
41.878122    1
41.884872    1
Length: 256, dtype: int64

state_code
IL    1199
CA       3
IA       1
TX       1
FL       1
dtype: int64

zip_code
60654    197
60606    141
60601     94
60611     72
60607     58
60661     52
60602     35
60614     34
60657     28
60603     28
60647     24
60610     23
60642     22
60604     22
60622     21
...
60169         1
210005        1
IL 60606      1
60647-4513    1
60084         1
60185         1
60201         1
60606-1596    1
60603-3433    1
60603-5577    1
60014         1
60661-3614    1
60606-2800    1
60623         1
Ill. 60607    1
Length: 77, dtype: int64